@tailwind utilities;
:root {
  --color-white: #FFFFFF;
}
*, ::before, ::after{
  box-sizing:border-box;
}
.displayNone{
  display:none;
}
.smallCaps{
  font-variant: small-caps;
}
html{
  font-size:16px;
  font-family: "Roboto", sans-serif;
}

code{
  background-color: rgb(241 245 249);
  padding:1rem;
  font-style: italic;
  color:navy;
  display: block;
}

blockquote{  
  border-left: 1rem solid rgb(48, 48, 128);
  padding:1rem;
  position:relative;
}

@media screen and (max-width:918px){
  div#wrapperMarkDownEditor{
    width:95%;
  }

}

@media screen and (max-width:875px){
  div#navBar{
    flex-wrap: wrap;
  }
}
@media screen and (max-width:736px){
  div.wrapperWritePreviewBtn{
    flex-direction: column;
    justify-content: center;
        
  }
  header{
    justify-content: space-between;
    
    justify-content: center;
  }
}