@tailwind utilities;
:root {
  --color-white: #FFFFFF;
}
*, ::before, ::after{
  box-sizing:border-box;
}
.displayNone{
  display:none;
}
.smallCaps{
  font-variant: small-caps;
}
html{
  font-size:16px;
  font-family: "Roboto", sans-serif;
}


